extends layout

block content

 .navigation-bar
    .navigation-bar-left
        a(href='/')
            img(src='./images/coolbeansLogo.png')
    .navigation-bar-right
        if (!username)
            a(href="/login")
                button.btn.btn-success(type="submit") Login
            a(href="/register")    
                button.btn.btn-primary(type="submit") Register
        if (username)
            p Welcome, 
                a(href="/account") #{username}!
            a(href="/logout") 
                button.btn.btn-danger(type="submit") Logout
  .navigation-bar-small
        .icon-holder
            a(href="/")
                .one
                .icons 1. Home
            a(href="/choices")
                .two
                .icons 2. Options
            a(href="/shipping")
                .three
                .icons 3. Delivery
            a(href="/payment")
                .four
                .icons 4. Payment

 #account.container
    #account-wrapper
        #account-header Your Account Information
        .account-block.col-xs-12.row
            h2.account-label Choices
            a(href='/choices')
                p.edit (Edit)
            .choices-holder
                p Grind
                p Frequency of Delivery
                p Coffee, In Pounds 
            .data-holder
                p #{grind}
                p #{frequency}
                p.margin #{quarterPounds}
            h2.account-label Delivery Information
            a(href='/shipping')
                p.edit (Edit)
            .choices-holder
                p Full Name
                p Address
                p Address2
                p City
                p State
                p Zip
                p Delivery Date
            .data-holder
                p #{fullName}
                p #{address1}
                p #{address2}
                p #{city}
                p #{state}
                p #{zipCode}
                p #{deliveryDate}

    .button-holder.col-xs-12           
        //- input.btn.btn-danger.btn-lg(type="submit", name="submit" value="Cancel Account")
        button.btn.btn-info(type="button", data-toggle="modal", data-target="#myModal") Delete Account
        #myModal.modal.fade(role="dialog")
            .modal-dialog
                .modal-content
                    .modal-header
                        h3.modal-title Confirm Cancellation
                    .modal-body Are you sure you want to close your account?
                    .modal-footer
                        form(name="cancellation-form", action="/cancellation", method="post")
                            button.btn.btn-success(type="button" data-dismiss="modal") Oops! Nevermind
                            button.btn.btn-danger(type="submit") Close Account
 .footer-wrapper2
    img(src="../images/coffeeLogoStacked.png")
    .horizontal-rule
    p &copy2015 Stephen Tiedemann